body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
}

input, button {
    margin-bottom: 10px;
}

#userList {
    list-style-type: none;
    padding: 0;
}

.userItem {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
